/* queries */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
    .sidebar {
      width: 100%;
      padding: 1rem;
      overflow-x: hidden;
    }
  
    .input {
        max-width: 95%; /* Adjusted */
        width: 100%;
        box-sizing: border-box;
      }
  
      .button, .buttonSyntax, .buttonDraw {
        font-size: 0.8rem;
        max-width: 100%; /* Adjusted */
        box-sizing: border-box;
      }
  
    h2 {
      font-size: 1.4rem;
    }
  
    .label {
      font-size: 0.9rem;
    }

    .toggleSidebar {
        padding: 0.5rem;
        font-size: 1rem;
    }
  }

  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 576px) and (max-width: 767px) {
    .sidebar {
      width: 100%;
      padding: 1rem;
      overflow-x: hidden;
    }
  
    .input {
        max-width: 95%; /* Adjusted */
        width: 100%;
        box-sizing: border-box;
      }
  
      .button, .buttonSyntax, .buttonDraw {
        font-size: 0.9rem;
        max-width: 100%; /* Adjusted */
        box-sizing: border-box;
      }
  
    h2 {
      font-size: 1.6rem;
    }
  
    .label {
      font-size: 1rem;
    }

    .toggleSidebar {
        padding: 0.6rem;
        font-size: 1.1rem;
    }
  }
  

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      width: 100%;
      padding: 2rem;
      overflow-x: hidden;
    }
  
    .input {
        max-width: 80%; /* Adjusted */
        width: 100%;
        box-sizing: border-box;
      }
  
      .button, .buttonSyntax, .buttonDraw {
        font-size: 1rem;
        max-width: 90%; /* Adjusted */
        box-sizing: border-box;
      }
  
    h2 {
      font-size: 1.8rem;
    }
  
    .label {
      font-size: 1rem;
    }

    .toggleSidebar {
        padding: 0.7rem;
        font-size: 1.2rem;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 992px) {
    .sidebar {
      width: 100%;
      padding: 2rem;
      overflow-x: hidden;
    }
  
    .input {
        max-width: 80%; /* Adjusted */
        width: 100%;
        box-sizing: border-box;
      }
  
      .button, .buttonSyntax, .buttonDraw {
        font-size: 1.2rem;
        max-width: 90%; /* Adjusted */
        box-sizing: border-box;
      }
  
    h2 {
      font-size: 2rem;
    }
  
    .label {
      font-size: 1.125rem;
    }
    .toggleSidebar {
        padding: 0.8rem;
        font-size: 1.3rem;
    }
  }