/* Layout */
html {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 12px;
    /* line-height: 1.6;  */
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    /* position: relative; */
}


.flexContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    /* position: relative; */
}



.toggleSidebar {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}
/* loading icon */ 

.loadingIcon {
    animation: spin-pause 4s ease infinite;
    position: absolute;
    top: 1rem;
}

@keyframes spin-pause {
    0%, 25% {
        transform: rotate(0deg);
    }
    37.5% {
        transform: rotate(180deg);
    }
    50%, 75% {
        transform: rotate(180deg);
    }
    87.5% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.sidebar {
    font-family: sans-serif;
    padding: 1rem;
    height: 100%;
    width: 475px;
}

.sidebarContent {
    background-color: #ffffff;
    border-radius: 8px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.canvas {
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 1rem;
    padding-left: 0rem;
}

.canvasContent { 
    border-radius: 8px;
    border: 2px solid #eb5160;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

section { 
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    align-items: center;
}



/* rules and axiom section */

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: start;
    grid-auto-flow: dense;
}

.rulesContainer {
    position: relative;
}

.ruleItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    align-items: center;
}

.ruleItem img {
    opacity: 0;
    transition: opacity 0.3s;
}

.ruleItem:hover img {
    opacity: 1;
}


.rule {
}


.grid3 { 
    font-family: sans-serif;
    display: grid;
    grid-template-columns: minmax(auto, 3fr) minmax(auto, 1fr) minmax(auto, 1fr);
    grid-gap: 1rem;
    align-items: flex-start;
    grid-auto-flow: dense;
}

.gridIcons { 
    font-family: sans-serif;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

i:hover {
    transform: translateY(-2px);
}

/* Typography */
label {
    font-weight: 600;
    color: #495057;
    font-size: 1rem;
    padding: 0.5rem;
    position: relative;
    min-width: 9rem;
}



.listItem {
    font-size: 18px;
    font-weight: bold;
}



h2 {
    font-size: 1.6rem;
    color: #495057; /* Match the color of labels */
    font-weight: 600; /* Slightly heavier font weight */
}

h3 { 
    font-size: 1.2rem;
    color: #495057; /* Match the color of labels */
    font-weight: 600; /* Slightly heavier font weight */
    word-break: break-all;
    margin-left: 2rem;
    margin-right: 2rem;
}

p a {
font-size: 1rem;
}

.rulesText { 
   word-break: break-all;
   font-family: sans-serif;
   font-weight: bold;
}

.settingsText { 
    font-family: sans-serif;
    padding: 1.3rem;
 }

.syntaxText { 
    font-family: sans-serif;
     }

 .sliderValueText {
        font-size: 12px;
        font-weight: bold;
        color: #eb5160;
        position: relative;
        margin-top: 0.4rem;
        word-break: break-all;
      }
    
.angleValueText {
        font-size: 12px;
        font-weight: bold;
        color: #eb5160;
        position: relative;
        word-break: break-all;
        min-width: 40px;
        margin-top: 0.6rem;
     }
    
 .startingPointValueText { 
        font-size: 12px;
        font-weight: bold;
        color: #eb5160;
        position: relative;
        margin-top: 0.5rem;
        word-break: break-all;
    }

/* Buttons */
.button, .buttonSyntax, .buttonDraw {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-height: fit-content;
}

.button:hover, .buttonSyntax:hover, .buttonDraw:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    background-color: #eb5160;
}

.button {
    background-color: #eb5160;
    max-height: fit-content;
    width: 100%;
}


.buttonDraw {
    background-color: #eb5160;
    font-size: 2rem;
    margin-top: -0.05rem;
    width: 100%;
}

/* Dropdowns */
.dropdown {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border: 1px solid #dfe0e2;
    padding: 0.375rem 0.75rem;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    width: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

/* Inputs */
.input, .input2, .inputAngle, .inputStartingPoint {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    transition: all 0.3s ease;
}

.input {
    width: auto;
}

.input2 { 
    width: 100%;
}

.inputAngle {
    width: 10rem;
    margin-top: 0.1rem;
}


.input:hover, .input2:hover, .inputAngle:hover {
    border-color: #adb5bd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.input:focus, .inpu2:focus, .inputAngle:focus {
    outline: none;
    border-color: #b7999c;
    box-shadow: 0 2px 6px rgba(183, 153, 156, 0.2);
}

/* Custom Slider Styling */
.slider-container {
    position: relative;
    display: inline-block;
    width: 200px;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 10rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
    margin-top: 0.4rem;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #eb5160;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #eb5160;
    cursor: pointer;
    border-radius: 50%;
  }


  .infoSection a, .attributionSection a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
    font-size: 20px;
  }
  
  .infoSection a:hover, .attributionSection a:hover {
    color: #053364;
  }

/* queries */

@media (max-width: 800px) {

    .flexContainer {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        display: block;
    }

    .grid3 { 
        justify-content: center;
    }
    

    .sidebar {
      width: 100vw;
      height: auto;
      overflow-x: hidden;
    }

    .canvas { 
        padding-left: 1rem;
    }

    .toggleSidebar {
        position: absolute;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
    }
}
